
.feature:before {
    content: url(../img/edit.png);
    background-color: $main-color;
    width: 98px;
    height: 98px;
    border-radius: 50%;
}

.feature {
    width: 325px;
}

.features {
    height: 335px;
}

.feature-head {
    font-family: $head-font;
    height: 17px;
    color: #222222;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
}

.p-feature {
    font-family: $main-font;
    height: 42px;
    color: #848484;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
