.footer {
    background-color: $section-color;
}

.footer-a {
    list-style-type: none;
}

.footer-link {
    text-decoration: none;
    color: #848484;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer-link:hover {
    color: $main-color;
    transition: 0.5s;
}