// header

.header-content {
    padding: 0;
    margin: 95px 262px 0 324px;
    vertical-align: middle;
}

.head-info {
    float: left;
}

.logo-h1 {
    margin: 0;
    padding: 0;
}

.logo {
    padding: 0;
    margin: 72px 0 36px 0;
}

.p-head {
    margin: 0 0 26px 0;
}

.app-list {
    margin: 0;
    padding: 0;
}

.app {
    float: left;
    margin: 0;
}

.app-link {
    float: left;
    margin: 0 14px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    float: right;
    margin: 0;
    padding: 0;
    display: block;
}

//features

.features {
    margin: 0;
    padding: 0;
}

.features-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.features-item {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style-type: none;
}

.feature-one:before {
    margin: 60px auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-two:before {
    margin: 60px auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-three:before {
    margin: 60px auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-one {
    margin: 0 60px;
}

.feature-two {
    margin: 0 60px;
}

.feature-three {
    margin: 0 60px;
}

.feature-head {
    text-align: center;
}

.p-feature {
    text-align: center;
}

// Get Notified

.notified {
    display: flex;
    justify-content: baseline;
}

.notify-section {
    padding: 60px 146px 0 209px;
}

.notify-h {
    margin: 0;
}

.notify-p {
    margin: 25px 0 30px 0;
}

.video {
    padding: 60px 211px 0 0;
    display: flex;
}

.notify-form {
    display: inline-block;
    padding: 0;
}

.input-list {
    float: left;
    padding: 0;
    margin: 0;
}

.input-li {
    float: left;
    padding: 0;
    margin: 0;
}

//Testemonial

.feedback {
    display: block;
    margin: 60px auto 26px;
}

.client-name {
    text-align: center;
    margin: 0 auto;
}

.clients {
    margin: 30px auto;
}

.client-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.client {
    padding: 0;
    margin: 0 2.5px;
    display: flex;
}

.client-link {
    margin: 0;
    padding: 0;
}

// Say hi

.say-hi {
    margin: 0;
    padding: 0;
}

.say-hi-header {
    margin: 60px auto 0;
    text-align: center;
}

.say-p {
    text-align: center;
    margin: 21px 0 0 0;
}

.social {
    margin: 0;
    padding: 0;
}

.social-list {
    display: flex;
    justify-content: center;
    margin: 25px auto 60px;
    padding: 0;
}

.social-li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    margin: 0 5px;
}

/*
 * I used your method (flex) to align pictures in icons, but they still looks not good,
 * When i add paddings by myself, icons where looks better...
 */

//Footer

.footer {
    margin: 0;
    padding: 0;
}

.foot-container {
    padding: 60px 0 54px 0;
}

.footer-nav {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-a {
    margin: 0 18px;
}