// header

.header-content {
    padding: 0;
    margin: 95px 262px 0 324px;
    vertical-align: middle;
}

.head-info {
    float: left;
}

.logo {
    padding: 0;
    margin: 72px 0 36px 0;
}

.p-head {
    margin: 0 0 26px 0;
}

.app-list {
    margin: 0;
    padding: 0;
}

.app {
    float: left;
    margin: 0;
}

.app-link {
    float: left;
    margin: 0 14px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    float: right;
    margin: 0;
    padding: 0;
    display: block;
}

