.header {
    border-top: 10px solid $main-color;
    background: url("../img/img.png");
    background-size: cover;
}

.header-content {
    padding: 0;
    margin: 95px 262px 0 324px;
    vertical-align: middle;
}

.head-info {
    float: left;
}

.logo {
    padding: 0;
    margin: 72px 0 36px 0;

}

.p-head {
    width: 453px;
    height: 59px;
    color: #ffffff;
    font-family: $main-font;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

.app {
    list-style-type: none;
}

.app-link {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    width: 55px;
    height: 55px;
}

.win-icon {
    opacity: 0.5;
}

.app-link:hover {
    cursor: pointer;
    background-color: $main-color;
    transition: background-color 0.5s;
    color: #ffffff;
}