.notified {
    height: 427px;
    background-color: #e3e3e3;
    display: flex;
}

.notify-section {
    width: 535px;
    height: 225px;
    margin: 60px 146px 0 209px;
}

.notify-h {
    font-family: "Raleway", sans-serif;
    color: #222222;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}

.notify-p {
    font-family: "HelveticaRegular", sans-serif;
    width: 525px;
    height: 91px;
    color: #848484;
    margin: 25px 0 30px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.video {
    margin: 60px 0 0 0;
    width: 540px;
    height: 307px;
    display: flex;
    border-radius: 20px;
}

.presentation-video {
    width: 540px;
    height: 307px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 3%;
}

.notify-form {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    color: #4e5159;
    padding: 0;
}

.input-list {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.input-li {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.submit {
    font-family: 'Raleway', serif;
    text-decoration: none;
    border: 1px solid #2ecc71;
    background-color: #2ecc71;
    border-radius: 0 10px 10px 0;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    padding: 19px 40px 15px 30px;
    display: inline-block;
}

.submit:hover {
    cursor: pointer;
    background-color: #2ecc71;
    transition: background-color 0.5s;
    color: #000000;
}

.email {
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-radius: 10px 0 0 10px;
    color: #848484;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 19px 40px 14px 30px;
    display: inline-block;
}

.email::-webkit-input-placeholder {
    color: #848484;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
}

.email::-moz-placeholder {
    color: #848484;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
}

.email:-ms-input-placeholder {
    color: #848484;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
}

.email:-moz-placeholder {
    color: #848484;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
}