.notified {
    height: 427px;
    background-color: #e3e3e3;
}

.notify-section {
    width: 535px;
    height: 225px;
}

.notify-h {
    font-family: "Raleway", sans-serif;
    color: #222222;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
}

.notify-p {
    font-family: "Helvetica", sans-serif;
    width: 525px;
    height: 91px;
    color: #848484;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.video {
    width: 540px;
    height: 307px;
    border-radius: 20px;
}

.presentation-video {
    width: 540px;
    height: 307px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 3%;
}

.notify-form {
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    color: #4e5159;
}

.input-list {
    list-style-type: none;
}

.input-li {
    list-style-type: none;
}