.say-hi-header {
    color: #000000;
    font-family: $head-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.say-p {
    color: #848484;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.social-li {
    list-style-type: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.social-li:hover {
    cursor: pointer;
    background-color: $main-color;
    transition: background-color 0.5s;
}