.feedback {
    width: 858px;
    height: 47px;
    color: #848484;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
}

.client-name {
    color: #2e2e2e;
    font-family: 'Raleway', serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.client {
    list-style-type: none;
}

.client-link {
    height: 50px;
    background-color: #2ecc71;
}

.client-icon:hover {
    opacity: 0.6;
}

.first {
    box-shadow: 30px 0 17px 4px rgba(255, 255, 255, 0.75);
    position: relative;
    opacity: 1;
}

.last {
    box-shadow: -30px 0 17px 4px rgba(255, 255, 255, 0.75);
    position: relative;
    opacity: 1;
}

/*
 * I have try to add box-shadow  to parent element, but shadow still behind icons.
 * I add it to div that contain list, that makes no effect too...
 */