body {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}